<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Настройки">
    <setting id="cont_play" type="bool" label="Непрерывное воспроизведение" default="false" enable="true" />
    <setting type="sep"/>
    <setting id="tengine_settings" type="action" label="Открыть настройки P2P..." option="close" action="RunPlugin(plugin://plugin.video.torrent.file.player?mode=p2psettings)"/>
  </category>
</settings>