<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Доступ к сайту">
    <setting id="login" type="text" label="Логин" default="" />
    <setting id="password" type="text" option="hidden" label="Пароль" enable="!eq(-1,)" default="" />
  </category>
  <category label="Интрефейс">
    <setting id="source_quality" type="enum" label="Качество видео" values="Предлагать выбор|Максимальное качество|Максимум пиров" default="0" />
    <setting id="show_history" type="bool" label="Показывать историю просмотров" default="false" />
    <setting id="show_search" type="bool" label="Показывать поиск" default="true" />
    <setting id="show_peers" type="bool" label="Показывать пиров в названии файлов" default="false" />
  </category>
  <category label="P2P">
    <setting id="engine" type="enum" label="Torrent клиент" values="AceStream|Py2http|torrent2http" default="0" />
    <setting id="use_custom_temp_folder" type="bool" label="Указать место хранения временных файлов" default="false" visible="!eq(-1,0)"/>
    <setting id="custom_temp_folder" type="folder" label="Расположение" visible="!eq(-2,0)" enable="eq(-1,true)"/>
    <setting id="tengine_settings" type="action" label="Настройки P2P" option="close" visible="false" action="RunPlugin(plugin://plugin.video.anidub?mode=p2psettings)"/>
  </category>
</settings>